body{
    width: 300px;
    height: 100px;
    background-color: black;
}

.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

button:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}


button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button.enabled {
    background-color: #00cc00;
}

#title{
    color: white;
    border: solid 2px white;
    padding: 10px;
    border-radius: 50px;
}

.inActive{
    display: none;
}

input {
    /* Add some general styling to all input fields */
    width: 250px;
    height: 35px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input:focus {
/* Add a highlight effect when the input field is focused */
border-color: #333;
outline: none;
}

